html {
  scroll-behavior: smooth;
}

.nav-item {
  cursor: default;
}

.jumbotron {
  padding-top: 4rem;
  min-height: 100vh;
  margin-bottom: 0px;

  display: flex;
  align-items: center;
}

.headshot {
  width: 300px;
}

b {
  font-size: 0.3em;
  font-style: italic;
}

.clip-ellipse {
  clip-path: ellipse(90px 115px at 150px 135px);
}

.card:hover {
  background-color: lightgray;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.myCard {
  max-width: 18rem;
  min-width: 18rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
