
body{
    font-family: arial;
    background-image: url("../images/Picture1.png");
    background-repeat: no-repeat;
    background-size: cover; 
}

div{
    font-size:1.25em;
    line-height:2em;
    text-align:center;
}

#wins,#status{
    margin-top:1em;
}


