body{
    font-family:arial;
}

h1{
    line-height:1.5em;
    font-weight:bold;
    font-size:1.25em;
}

h2{
    margin-top:10px;
}

#topicForm{
    text-align:center;
    border:1px solid black;
    margin:5px;
    padding:5px;
    background-color: lightgray;
}
label{
    font-size:.9em;
}

h1,h2,#topicButtons{
    text-align:center;
}

button,#addTopic{
    background-color:lightblue;
}
button:hover,#addTopic:hover{
    background-color:cyan;
}
.giphyBlock{
    display:inline-block;
    margin:5px;
    border:1px solid black;
}

#resultsContainer{
    text-align:center;
}

#topicButtons{
    margin:5px;
    padding:5px;
    border:1px solid black;
    background-color:lightgray;
}

@media screen and (max-width:430px){
    #addTopic,#topicInput{
        display:block;
        margin:auto;
    }
}